/*Navbar*/
.navbar{
	background: #222222;
	color:white;
	margin-bottom:0;
	border-radius:0;
}
#navBar{
    padding: 30px 0;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    transition: padding .5s;
    border: 0;
    background-color: transparent;
}

#navBar.navbar-shrink {
    padding: 5px 0;
    background-color: #222;
 }

.navbar-collapse ul{
	list-style: none;
}
.navbar-collapse ul a {
	text-decoration: none;
	color:whitesmoke;
	font-size:16px;
}
.navbar-collapse ul a:hover{
	color:grey;
}
.flex-container{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}
.logo{
	padding:10px 0;
}
.navBar-elements{
	padding:25px 18px 0px 0px;
}
.navbar-nav li{
	padding:0 0 0 35px;
}
/*Header*/
header{
	background-image: url("../img/bg-header.jpg")
}
header.header{
	position:relative;
	padding-top: 150px 0;
	background-color:#222;
}