body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

/*Navbar*/
.navbar .navbar-brand{
	padding:10px 0 15px 10px;
}
.navbar .navbar-collapse{
	padding:12px 25px 10px 0;
	font-size:17px;
}
.navbar-toggle{
    position:relative;
    float:right;
    padding:25px 25px;
    margin-top:8px;
    margin-right:15px;
    margin-bottom:8px;
    background-color:black;
    background-image:none;
    border-radius:4px
}


/*Header*/

header{
	background-image: url("../img/bg-header.jpg");
	padding-bottom: 30px;
}
.img-logo-header{
	padding: 150px 0 120px 0;
}
.scroll-down .btn{
	border: 2px solid white;
	border-radius: 100%;
	color:white;
	height:65px;
	width:65px;
}
.scroll-down .btn:hover{
	background: grey;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.scroll-down .btn .fa{
	font-size: 50px;
}

/*Section Values*/
#values{
	margin: 60px 0;
}
#values h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 60px;
}
hr{
	margin-top:0;
	margin-bottom:2px;
	
}
#one{
	width:150px;
	margin-bottom:3px;
	border-top: 1px solid black;
}
#two{
	width:150px;
	margin-top:2px;
	border-top: 1px solid black;
}
#values h4{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding:20px 0;
}
.title-values{
	margin-bottom: 20px;
}
.columns h3{
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	font-size: 30px;
	margin-left:10px;
	width:150px;
}
#values .icon{
	border:2px solid black;
	border-radius: 100%;
}
#values .fa{
	font-size:30px;
	padding: 17px 17px;
}
#values .fa-cutlery{
	padding: 17px 22px;
}
#values ul li em{
	font-family: 'Roboto', sans-serif;
	font-size: 300;
	font-size: 16px;
}
#values ul li{
	margin-bottom:10px;
}
.columns{
	margin-bottom:30px;
}
/*Section Great Food*/
.great-food{
	background-image: url("../img/bg-quote.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 270px 50px;
	color:white;
}
.great-food h2{
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size:40px;
}
#three{
	margin-bottom:2px;
	border-color:white;
	margin-bottom:3px;
	width:150px;
}
#four{
	margin-top:2px;
	border-color:white;
	width:150px;
}
.btn-meet{
	margin-top: 20px;
	padding: 0 42%;
	
}
.btn-meet a{
	text-decoration: none;
	padding:10px;

}
.btn-meet a h4:hover{
	background: grey;
	opacity: 0.5;
    filter: alpha(opacity=50)	
}
.btn-meet a h4{
	font-family: 'Roboto', sans-serif;
	color:whitesmoke;
	border:1px solid whitesmoke;
	font-weight: 900;
	padding: 12px 0;
}
/*people*/
.overlay {
	text-align: center;
    top:180px;
    left:90px;
    position: absolute;
}
.carousel img{
	height: 420px;
	width:490px;
	padding:20px;
	border-radius: 10%;
}
.carousel img:hover{}
.thumbnail{
    position:relative;
    color:white;
}
.overlay h4{
	font-family: 'Raleway', sans-serif;
	font-weight:900;
	font-size:30px;
	color:white;
}
.overlay p{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:white;
	font-size:20px;
}

hr .overlay{
	border:4px solid white;
}
hr{
	width:35px;

}
#img-one{
	margin-top:0;
}
#img-two{
	margin: 1px 0 3px 0;
}
#people{
	background-color: #F7F7F7;

}
.ajuste-carrusel-uno{
	padding-bottom:100px;
}
#people h2{
	padding:120px 0 20px 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size:70px;
}
#people p{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size:23px;
	margin-bottom:20px;
}
#uno{
	border:1px solid grey;
	width:150px;
}
#dos{
	border:1px solid grey;
	width:150px;
	margin-bottom:30px;
}
/*press*/
#press{
	background-color:white;
}
.titulo-section-fifth h2{
	font-weight: 900;
	margin-top: 45px;
}
.titulo-section-fifth h3{
	font-weight: 900;
}
.texto-carrusel-dos p{
	margin-top: 15px;
}
.img-carrusel-dos{
	margin-top: 7px;
}
.persona-carrusel-dos h4{
	font-weight: 700;
	margin-bottom: 0px;
	margin-top: 15px;
}
.persona-carrusel-dos p{
	font-size: 13px;
	margin-top: 0px;
}
.persona-carrusel-dos span{
	color: #FFFC00;
}
.persona-carrusel-dos .ult{
	margin-bottom: 60px;
}
#first-slider{
	padding-bottom: 45px;
}
.carousel-control{
	background: none !important;
}
.fa{
	color: black;
}